/* main body css elements*/
* {
    margin: 0;
    padding: 0;
    
}



/* background colour */
body{
  background-color: #FFE9F6; /* strawberry milk */
}


/* Navi styles */
header {
    background-color:#fcc7e6;
    padding: 25px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 4px solid #8A0005; /* wine */
}

/* menu */


.menu-icon{
cursor:pointer;
}

.menu-search {
display: flex;
align-items: center;
gap: 25px;
}

.menu-icon div {
width: 30px;
height: 3px;
background-color: #8A0005; /* wine */
margin: 5px 0;
}



/* dropdown */

.menu-dropdown{
display:none;
background:#FFBFE9; /* rose */
padding:20px;
border-top: 3px solid #8A0005;
}

.menu-dropdown a{
display:block;
padding:10px;
text-decoration:none;
color:#8A0005;
font-weight:bold;
}

.menu-dropdown a:hover{
background:#8A0005;
color:white;
}





/* search bar  */

 .search {
    width: 220px;
    padding: 10px 15px;
    background-color:#f0dbe8; /* rose */
    border: 2px solid #8A0005; /* wine border */
    outline: none;
    border-radius: 0; /* NO rounded edges */
    transition: 0.3s ease;
}


/* nav bar  */

nav a {
    margin-left: 50px;
    text-decoration: none;
    color: #8A0005; /* wine */
    font-weight: bold;
    font-size: 16px;
    transition: 0.3s ease;
}

nav a:hover {
    color: #FFBFE9; /* rose */
}

main {
    padding: 10px 100px;
}


/* hover for button for learn more and next  */

.car-btn:hover {
   background-color:#FFBFE9;
   color: white;
   transform: scale(1);
}


/* hover for button */
.next-container {
   margin-top: 100px;
   text-align: right;
}

.next-btn {
   padding: 12px 24px;
   margin-top: 15px;
   background-color: #d59aa5;
   border: 2px solid #741F3D;
   text-decoration: none;
   color: black;
   font-weight: bold;
   font-size: 16px;
   border-radius: 12px;
   transition: 0.2s ease;
   align-self: flex-start;
  
}

.next-btn:hover {
   background-color: #741F3D;
   color:#FFBFE9;
}








/* image section  */

/* header image */

#img-header {
    width: 100%;          /* full width */
    height: 500px;        /* adjust height as you like */
    object-fit: cover;    /* keeps it from stretching weirdly */
    margin-top: 20px;
  
}





/* intro paragraph */
.intro{
  max-width: 700px;  
  margin: auto;    
  text-align: center;  
  font-family: "Abel", sans-serif;
  font-size: 20px;
  width: 475px;
  line-height: 1.7;
}




/* How to change a tire Heading body   */
/* paragraphs for body 1  */

.body1{
font-family: "Abel", sans-serif;
font-size: 17px;
width: 500px;
line-height: 1.5;
}

.body2{
font-family: "Abel", sans-serif;
font-size: 17px;
width: 500px;
line-height: 1.5;
}

.body3{ 
font-family: "Abel", sans-serif;
font-size: 17px;
width: 500px;
line-height: 1.5;
}

.body4{
font-family: "Abel", sans-serif;
font-size: 17px;
width: 500px;
line-height: 1.5;
}

.body5{
font-family: "Abel", sans-serif;
font-size: 17px;
width: 500px;
line-height: 1.5;
}

.body6{
font-family: "Abel", sans-serif;
font-size: 17px;
width: 500px;
line-height: 1.5;
}







/* body of homepage starts here  */


/* Girls Guide To Maintenance and Aesthetics Tool Kit Heading */

h1 {
color: #32064c;
font-family: "Merriweather", serif;
font-size: 50px;
font-weight: bold;
margin: auto;
text-align: center;
width: 1010px;

}



/*  Heading  explore our page   */

 h2{
   color: #32064c;
   font-family: "Merriweather", serif;
   font-weight: bold;
   font-size: 30px;
   margin-bottom: 10px;
   width: 500px;
}

/*  Heading        */

h3{
    color: #32064c;
    font-family: "Merriweather", serif;
    font-size: 25px;
    margin-bottom: 20px;
    width: 500px;
  }


/*  Heading        */
h4{
    color: #32064c;
    font-family: "Merriweather", serif;
    font-size: 25px;
    margin-bottom: 10px;
    width: 500px;
}


/*  Heading        */
h5{
   color: #32064c;
   font-family: "Merriweather", serif;
   font-size: 25px;
   margin-bottom: 10px;
   width: 500px;
}

/*  Heading        */

h6{
   color: #32064c;
   font-family: "Merriweather", serif;
   font-size: 25px;
   margin-bottom: 10px;
   width: 500px;
}











/* container for homepage content */

.container{
display: grid;
grid-template-columns: repeat(2, 1fr);
gap: 60px;
padding: 70px;
margin-top: 90px;
border-radius: 10px;
align-items: start; 
}



.grid-item{
display: flex;
flex-direction: column;
text-align: left;

}














/*footer content*/


footer{
    background-color: #fcc7e6;
    border-top: 4px solid #8A0005; /* wine */
    padding: 60px 80px 20px 80px;
   
}





@media screen and (max-width: 400px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
}










